<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="homepage.js"></script>
        <title> Homepage </title>
    </head>
    <body>
        <img src="https://www.ctpethiopia.com/uploads/1/2/1/1/121100825/home-page_orig.jpg">
        <h3> CTP Summer Session 2022 </h3>
        <p>
            Welcome to the online portal for the CTP Summer Session 2022. This year, our mode of instruction for the SAT has gone completely online! Using this page, you will be able to access instruction videos, assigned homeworks, and submission portals.
        </p>
        <p>
            Click on your section below to continue.
        </p>
        
        <button id="beginner_button" onclick="beg_func()"> Beginner </button>
        <button id="intermediate_button" onclick="inter_func()"> Intermediate </button>
        <button id="advanced_button" onclick="adv_func()"> Advanced </button>
    </body>
</html>