{% extends "layout.html" %}

{% block content %}

        <script src="../static/homepage.js"></script>
        <title> Homepage </title>
        <div class="image">
        <img src="https://www.ctpethiopia.com/uploads/1/2/1/1/121100825/home-page_orig.jpg" width="75%" height="450px">
        </div>
        <div class=hometext>
        <p>
            Welcome to the online portal for the CTP Summer Session 2022. This year, our mode of instruction for the SAT has gone completely online! Using this page, you will be able to access instruction videos, assigned homeworks, and submission portals.
        </p>
        </div>
        <div class="section">
            Click on your section below to continue.
        </div>
        <div class="buttons">
            <button id="beginner_button" onclick="beg_func()"> Beginner </button>
            <button id="intermediate_button" onclick="inter_func()"> Intermediate </button>
            <button id="advanced_button" onclick="adv_func()"> Advanced </button>
        </div>
        <div class="extraSpace">
        </div>

{% endblock %}