<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">


    <title>CTP Summer Session 2022</title>
  </head>
  <body>
    

    
<nav class="navbar navbar-expand-lg navbar-light bg-light navig">
  <div class="container navig">
    <a class="navbar-brand" href="/">CTP Summer Session 2022</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="/beginner/0">
          <div class="col">Beginner</div></a>
      </div>
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="/intermediate/0">
          <div class="col">Intermediate</div></a>
      </div>
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="/">
          <div class="col">Advanced</div></a>
      </div>
    </div>
  </div>
</nav>

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




